html {
    background-color: #1e1e1e;
    color: #35615b;
    font-family: 'Poppins', sans-serif;
}

.rules-preamble {
    margin-bottom: 40px;
    background-color: #00000034;
    padding: 20px;
    border-radius: 10px;
}

.rules-rules {
    margin-bottom: 40px;
    background-color: #00000034;
    padding: 20px;
    border-radius: 10px;
}

.rules-enforcement {
    margin-bottom: 40px;
    background-color: #00000034;
    padding: 20px;
    border-radius: 10px;
}

.rules-appeals {
    margin-bottom: 40px;
    background-color: #00000034;
    padding: 20px;
    border-radius: 10px;
}

nav {
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #121212;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.text-info {
    margin-bottom: 40px;
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
}

/* Animations */
#title {
    animation: fadeIn 2s ease;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Button & Hover Effects */
nav ul li a, button {
    background-color: #645f5f;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

nav ul li a:hover, button:hover {
    background-color: #35615b;
    transform: scale(1.05);
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.footer {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.title {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    color: #000e1f;
}