html {
    background-color: #1e1e1e;
    color: #35615b;
    font-family: 'Poppins', sans-serif;
}

.text-info {
    margin-bottom: 40px;
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
}

.jobs-note {
    margin-bottom: 40px;
    background-color: #080320;
    padding: 20px;
    border-radius: 10px;
}

.xp-miner {
    margin-bottom: 30px;
    background-color: #181616;
    padding: 20px;
    border-radius: 10px;
}

.xp-farmer {
    margin-bottom: 30px;
    background-color: #181616;
    padding: 20px;
    border-radius: 10px;
}

.xp-hunter {
    margin-bottom: 30px;
    background-color: #181616;
    padding: 20px;
    border-radius: 10px;
}

nav ul li a, button {
    background-color: #66560f;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a:hover, button:hover {
    background-color: #0f4c75;
    transform: scale(1.05);
}

/* Animations */
#title {
    animation: fadeIn 2s ease;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
