html {
    background-color: #1e1e1e;
    color: #35615b;
    font-family: 'Poppins', sans-serif;
}

/* Définition des variables CSS pour faciliter les ajustements */
:root {
    --primary-color: #645f5f;
    --hover-color: #35615b;
    --text-color: #121212;
    --text-hover-color: #ffffff;
    --transition-duration: 0.3s;
}

/* Navigation principale */
.navbar {
    padding: 10px 0;
}

.navbar__menu {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar__item {
    margin: 0 15px;
}

.navbar__link, .btn {
    display: inline-block;
    color: var(--text-color);
    background-color: var(--primary-color);
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 500;
    transition: background-color var(--transition-duration) ease, 
                transform var(--transition-duration) ease, 
                color var(--transition-duration) ease;
    cursor: pointer;
}

/* Effet de survol pour les liens et boutons */
.navbar__link:hover, .btn:hover {
    background-color: var(--hover-color);
    color: var(--text-hover-color);
    transform: scale(1.05);
}

/* Animation de fondu pour le titre */
#title {
    animation: fadeIn var(--transition-duration) ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.footer {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.title {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    color: #000e1f;
}

.text-info {
    margin-bottom: 40px;
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
}